@import "~antd/dist/antd.css";
.ant-layout-header {
  background-color: white;
}

.header-styling {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-avatar-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}